#ifndef SECRETS_H
#define SECRETS_H

#define WIFI_SSID     "NOME_DA_SUA_REDE"
#define WIFI_PASSWORD "SENHA_DA_SUA_REDE"
#define SERVER_URL    "https://telemetria-iot-bmp280.onrender.com/api/sensor/enviar"

#endif